<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="/css/profile.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id="upper-bar">
        <a href="/lobby">Chess.io</a>
        <div id="options">
            <img src="/Photos/dark-theme-icon.png" id="UI-COLOR" width="40" height="40">
            <img src="/Photos/Friends.png" id="Friends" width="40" height="40">
            <img src="/Photos/Invite.png" id="Invite" width="40" height="40">
        </div>
    </div>

    <div class="profile-container">
        <div class="profile-header" id="profile_header">
            <img src="/Photos/Judgeline.png" class="avatar">
            <h2 class="profile-text" th:text="${Username}">Username</h2>
        </div>

        <div class="stats">
            <h4 class="profile-text" th:text="'Joined in: ' + ${Data_inregistrarii}"></h4>
            <br>
            <h3 class="profile-text">Stats Overview</h3>
            <ul>
                <li class="profile-text" th:text="'Rating : ' + ${Rating}">Rating:</li>
                <li class="profile-text" th:text="'Games Played : ' + ${Games_played}">Games Played:</li>
                <li class="profile-text" th:text="'Win Rate : ' + ${Win_rate}">Win Rate:</li>
                <li class="profile-text" th:text="'Best Rating : ' + ${Best_rating}">Best Rating:</li>
            </ul>
        </div>
    </div>
    <div id="friends-tab">
        <h3 id="friends-title"></h3>
        <ul id="friends-list">
            <!-- List of friends will go here -->
        </ul>
    </div>
    <div id="invites-tab">
        <h3 id="invites-title"></h3>
        <ul id="invites-list">
            <!-- List of invites will go here -->
        </ul>
    </div>
</body>
<script th:inline="javascript">
    // People list
    // Friends
    const friends_tab = document.getElementById('friends-tab');
    const friends_title = document.getElementById('friends-title');
    const friends_list = document.getElementById('friends-list');
    const Friends = [[${Friends}]];

    friends_title.textContent = "Friends";

    Friends.forEach(friend => {
        const li = document.createElement('li');
        li.textContent = friend;
        friends_list.appendChild(li);
    });

    document.getElementById('Friends').onclick = function() {
        if (friends_tab.style.display === 'block'){
            friends_tab.style.display = 'none';
        }else{
            friends_tab.style.display = 'block';
            invites_tab.style.display = 'none';
        }
    };

    // Invites
    const invites_tab = document.getElementById('invites-tab');
    const invites_title = document.getElementById('invites-title');
    const invites_list = document.getElementById('invites-list');

    invites_title.textContent = "Invites";

    document.getElementById('Invite').onclick = function() {
        if (invites_tab.style.display === 'block'){
            friends_tab.style.display = 'none'
        }else{
            invites_tab.style.display = 'block';
            friends_tab.style.display = 'none';
        }
    };

    document.addEventListener('click', function (event) {
        const isInsideTabs = friends_tab.contains(event.target) ||
                            invites_tab.contains(event.target) ||
                            event.target.id === 'Friends' ||
                            event.target.id === 'Invite';

        if (!isInsideTabs) {
            friends_tab.style.display = 'none';
            invites_tab.style.display = 'none';
        }
    });
</script>
</html>